<footer>
    <div class="footer-inner">
      <div class="multiport-show">
        <div class="multiport-title">Trải nghiệm tốt nhất chỉ có trên iQIYI APP</div>
        <div class="multiport-desc">
          <img src="/icon/iQIYI.png" alt="" class="footer-donwload-img" width="48" height="24" />
          <span>Tìm kiếm trong cửa hàng ứng dụng dành cho thiết bị di động</span>
        </div>
        <div class="multiport-content">
          <div class="multiport-phone">
            <svg
              width="20px"
              height="20px"
              viewbox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <title>icon/footer/phone@3x</title>
              <g id="控件" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icon/footer/phone" fill="#FFFFFF" fill-rule="nonzero">
                  <g transform="translate(5.000000, 2.000000)" id="形状结合">
                    <path
                      d="M12,0 C13.1045695,0 14,0.8954305 14,2 L14,18 C14,19.1045695 13.1045695,20 12,20 L2,20 C0.8954305,20 0,19.1045695 0,18 L0,2 C0,0.8954305 0.8954305,0 2,0 L12,0 Z M12,15 L2,15 L2,18 L12,18 L12,15 Z M7,15.5 C7.55228475,15.5 8,15.9477153 8,16.5 C8,17.0522847 7.55228475,17.5 7,17.5 C6.44771525,17.5 6,17.0522847 6,16.5 C6,15.9477153 6.44771525,15.5 7,15.5 Z M12,2 L2,2 L2,13 L12,13 L12,2 Z"
                    ></path>
                  </g>
                </g>
              </g>
            </svg>
            <span>Điện thoại</span>
          </div>
          <div class="multiport-tv">
            <svg
              width="20px"
              height="20px"
              viewbox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <title>icon/footer/tv@3x</title>
              <defs>
                <rect id="path-1" x="0" y="0" width="24" height="24"></rect>
              </defs>
              <g id="控件" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icon/footer/TV">
                  <mask id="mask-2" fill="white">
                    <use xlink:href="#path-1"></use>
                  </mask>
                  <use id="矩形" fill="#FFFFFF" opacity="0" xlink:href="#path-1"></use>
                  <path
                    d="M16.0812672,4.13816693 L16.1406119,4.20614284 L16.7283972,5.01515984 C16.8726749,5.21374106 16.8495754,5.48286526 16.6857572,5.65421622 L16.6177813,5.71356096 L15.534,6.5 L19,6.5 C20.1045695,6.5 21,7.3954305 21,8.5 L21,17.5 C21,18.6045695 20.1045695,19.5 19,19.5 L5,19.5 C3.8954305,19.5 3,18.6045695 3,17.5 L3,8.5 C3,7.3954305 3.8954305,6.5 5,6.5 L8.289,6.5 L7.20614284,5.71356096 C6.98273897,5.55124855 6.93321456,5.23856371 7.09552697,5.01515984 L7.68331222,4.20614284 C7.84562464,3.98273897 8.15830947,3.93321456 8.38171335,4.09552697 L11.6177813,6.44666798 L11.678,6.5 L12.145,6.5 L12.2061428,6.44666798 L15.4422108,4.09552697 C15.640792,3.95124927 15.9099162,3.97434881 16.0812672,4.13816693 Z M19,8.5 L5,8.5 L5,17.5 L19,17.5 L19,8.5 Z M17,14.5 C17.5522847,14.5 18,14.9477153 18,15.5 C18,16.0522847 17.5522847,16.5 17,16.5 C16.4477153,16.5 16,16.0522847 16,15.5 C16,14.9477153 16.4477153,14.5 17,14.5 Z"
                    id="形状结合"
                    fill="#FFFFFF"
                  ></path>
                </g>
              </g>
            </svg>
            <span>Trên TV</span>
          </div>
          <div class="multiport-computer">
            <svg
              width="20px"
              height="20px"
              viewbox="0 0 24 24"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
            >
              <title>icon/footer/电脑</title>
              <g id="控件" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="icon/footer/Computer" fill="#FFFFFF" fill-rule="nonzero">
                  <path
                    d="M3,7 C3,5.8954305 3.8954305,5 5,5 L19,5 C20.1045695,5 21,5.8954305 21,7 L21,18 L21.5,18 C21.7761424,18 22,18.2238576 22,18.5 L22,19.5 C22,19.7761424 21.7761424,20 21.5,20 L2.5,20 C2.22385763,20 2,19.7761424 2,19.5 L2,18.5 C2,18.2238576 2.22385763,18 2.5,18 L3,18 L3,7 Z M19,7 L5,7 L5,16 L19,16 L19,7 Z"
                    id="形状结合"
                  ></path>
                </g>
              </g>
            </svg>
            <span>Trên trang web</span>
          </div>
        </div>
      </div>
      <div class="footer-line-top"></div>
      <div class="footer-other-and-lan">
        <div class="help-center" id="footer-help-center">
          <div class="item-block">
            <h3>Giới thiệu về chúng tôi</h3>
            <ul>
              <li><a href="#" target="_blank">Thông tin công ty</a></li>
              <li><a href="#" target="_blank">Giới thiệu dịch vụ sản phẩm</a></li>
              <li><a href="#" target="_blank">Cách xem</a></li>
            </ul>
          </div>
          <div class="item-block">
            <h3>Hợp tác</h3>
            <ul>
              <li><a href="#" target="_blank">Đăng quảng cáo</a></li>
              <li><a href="#" target="_blank">Quan hệ kinh doanh</a></li>
              <li><a href="#" target="_blank">Hợp tác cài đặt trước</a></li>
            </ul>
          </div>
          <div class="item-block">
            <h3>Hỗ trợ và giúp đỡ</h3>
            <ul>
              <li><a href="#" target="_blank">Phản ánh ý kiến</a></li>
              <li><a href="#" target="_blank">Trung tâm phản hồi bảo mật</a></li>
              <li><a href="#" target="_blank">Câu hỏi thường gặp</a></li>
            </ul>
          </div>
          <div class="item-block">
            <h3>Điều khoản dịch vụ</h3>
            <ul>
              <li><a href="#" target="_blank">Điều khoản quyền riêng tư</a></li>
              <li><a href="#" target="_blank">Điều khoản sử dụng</a></li>
            </ul>
          </div>
        </div>
        <div class="language-block-ft">
          <div class="lang-show" role="button">
            <img class="lang-icon" alt="lang" src="/icon/lang.png" />
            <span class="current-lang">Tiếng Việt</span>
            <div class="wrap-arrow">
              <span class="arrow">
                <img alt="language_down" src="/icon/down_arrow.png" />
              </span>
            </div>
            <div class="touch-cover"></div>
          </div>
        </div>
      </div>
      <div class="copy">
        <div class="copy-content">
          <p class="copyright">Copyright © 2021 iQiyi All Rights Reserved</p>
          <p class="copyright">
            Chúng tôi sử dụng Cookies để cải thiện trải nghiệm sử dụng của bạn. Nếu bạn tiếp tục
            sử dụng trang web của chúng tôi, có nghĩa là bạn đồng ý chúng tôi sử dụng Cookies. Đọc
            <u>
              <a href="#">Chính sách quyền riêng tư iQIYI</a>
            </u>
          </p>
        </div>
        <div class="get-app-two">
          <div class="get-app">
            <div class="right">
              <a class="a-facebook" href="#" target="_blank" alt="facebook"></a>
              <a class="a-ins" href="#" target="_blank" alt="ins"></a>
              <a class="a-twitter" href="#" target="_blank" alt="twitter"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>