<div class="sidebar">
    <div class="admin-title">Bảng điều khiển</div>
    <ul>
        <li>
            <a href="dashboard.html">Bảng điều khiển</a>
        </li>
        <li>
            <a href="quan-ly-khach-hang.html">Quản lý khách hàng</a>
        </li>
        <li class="menu-active">
            <a href="./movies">Quản lý phim</a>
        </li>
        <li>
            <a href="quan-ly-goi-vip.html">Quản lý gói VIP</a>
        </li>
        <li>
            <a href="quan-ly-danh-gia.html">Quản lý đánh giá</a>
        </li>
    </ul>
    <div class="admin-name">Nguyễn Ngọc Hải</div>
    <div class="logout">Đăng xuất</div>
</div>