<nav class="col-md-2 bg-dark sidebar">
  <div class="sidebar-sticky">
      <ul class="nav flex-column">
          <li class="nav-item">
              <a class="nav-link" href="#"> Trang quản trị </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="http://localhost:3001/dashboard/movies"> Quản lý phim </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#"> Quản lý khách hàng </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#"> Quản lý gói VIP </a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="#"> Quản lý đánh giá </a>
          </li>
      </ul>
  </div>
  <div class="text-center p-3">
      <button class="btn btn-primary" type="button">Đăng xuất</button>
  </div>
</nav>
